<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.ufpb.lp3.gerenciamento_fiado"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="10" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="br.ufpb.lp3.gerenciamento_fiado.menu_principal.MenuPrincipalActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="br.ufpb.lp3.gerenciamento_fiado.gerenciar_cliente.GerenciarClienteActivity"
            android:label="@string/title_activity_gerenciar_cliente" >
        </activity>
        <activity
            android:name="br.ufpb.lp3.gerenciamento_fiado.gerenciar_cliente.CadastrarClienteActivity"
            android:label="@string/title_activity_cadastrar_cliente" >
        </activity>
        <activity
            android:name="br.ufpb.lp3.gerenciamento_fiado.GerenciarProdutosActivity"
            android:label="@string/title_activity_gerenciar_produtos" >
        </activity>
        <activity
            android:name="br.ufpb.lp3.gerenciamento_fiado.gerenciar_produto.GerenciarProdutoActivity"
            android:label="@string/title_activity_gerenciar_produto" >
        </activity>
        <activity
            android:name="br.ufpb.lp3.gerenciamento_fiado.gerenciar_contas.CadastrarContasActivity"
            android:label="@string/title_activity_cadastrar_contas" >
        </activity>
        <activity
            android:name="br.ufpb.lp3.gerenciamento_fiado.gerenciar_contas.GerenciarContasActivity"
            android:label="@string/title_activity_gerenciar_contas" >
        </activity>
        <activity
            android:name="br.ufpb.lp3.gerenciamento_fiado.gerenciar_cliente.AtualizarClienteActivity"
            android:label="@string/title_activity_atualizar_cliente" >
        </activity>
        
        <activity
            android:name="br.ufpb.lp3.gerenciamento_fiado.gerenciar_cliente.BuscarClienteActivity"
            android:label="@string/title_activity_buscar_cliente" >
        </activity>
        
        <activity
            android:name="br.ufpb.lp3.gerenciamento_fiado.gerenciar_cliente.ExcluirClienteActivity"
            android:label="@string/title_activity_excluir_cliente" >
        </activity>
        <activity
            android:name="br.ufpb.lp3.gerenciamento_fiado.gerenciar_vendedor.GerenciarVendedorActivity"
            android:label="@string/title_activity_gerenciar_cliente" >
        </activity>
        <activity
            android:name="br.ufpb.lp3.gerenciamento_fiado.gerenciar_vendedor.CadastrarVendedorActivity"
            android:label="@string/title_activity_cadastrar_vendedor" >
        </activity>
        <activity
            android:name="br.ufpb.lp3.gerenciamento_fiado.gerenciar_vendedor.AtualizarVendedorActivity"
            android:label="@string/title_activity_atualizar_vendedor" >
        </activity>
        <activity
            android:name="br.ufpb.lp3.gerenciamento_fiado.gerenciar_vendedor.ExcluirVendedorActivity"
            android:label="@string/title_activity_excluir_vendedor" >
        </activity>
        <activity
            android:name="br.ufpb.lp3.gerenciamento_fiado.tela_login.LoginActivity"
            android:label="@string/title_activity_login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
